html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title Find NY Office
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/bundles/admin/css/main.css', rel='stylesheet')
    body.notransition.no-hidden
        block content
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCAIOB8_QiwLwggTc88_Y5568lwtQrPZ9E&sensor=true&libraries=geometry&libraries=places', type='text/javascript')
        script(src='/assets/bundles/admin/js/app.js' type='text/javascript')