#home-map {
  width: 100%;
  height: 600px;
}
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
@media screen and (max-width: 767px) {
  #home-map {
    height: 592px;
  }
}
#mapView {
  width: 50%;
  float: left;
}
#mapView.min {
  width: 0%;
}
.mapPlaceholder {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  float: left;
  overflow: hidden;
}
#mapView.min .mapPlaceholder {
  display: none;
}
.infoW {
  font-family: 'open_sansregular', sans-serif, Arial;
  color: #333;
  padding: 0 1px;
}
.paWrapper {
  padding: 10px 10px 7px 10px;
}
.propImg {
  position: relative;
}
.propImg img,
.propImg .placeholder {
  width: 200px;
  height: 120px;
  borderleft-radius: 3px;
  borderright-radius: 3px;
}
.propImg .placeholder .s-icon {
  font-size: 40px;
  line-height: 90px;
  color: #848484;
}
.propBg {
  position: absolute;
  z-index: 2;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}
.propType,
.propSale {
  background-color: #eab134;
  font-size: 10px;
  line-height: 11px;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: uppercase;
  z-index: 3;
}
.propSale {
  background-color: #55acee;
  right: 60px;
}
.propPrice {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  z-index: 3;
}
.propTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.propDescription {
  white-space: nowrap;
  overflow: hidden;
  color: #999;
  font-size: 11px;
  line-height: 11px;
}
ul.propFeat {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 10px;
}
ul.propFeat li {
  float: left;
  margin-right: 15px;
  font-size: 11px;
  line-height: 11px;
}
ul.propFeat li span {
  color: #999;
}
.infoButtons {
  padding: 10px;
}
a.btn.viewInfo,
a.btn.closeInfo {
  width: 85px;
  padding: 6px 12px;
}
a.btn.viewInfo {
  margin-left: 10px;
}
.dropdown.btn-group .dropdown-toggle.btn-default,
.dropdown.btn-group .dropdown-toggle.btn-default:hover,
.dropdown.btn-group .dropdown-toggle.btn-default:focus {
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
}
.checkbox.custom-checkbox input[type="checkbox"] {
  position: absolute;
  left: -9999em;
  position: absolute;
  left: -9999em;
}
.checkbox.custom-checkbox label {
  padding-left: 0;
  padding-left: 0;
}
.checkbox.custom-checkbox .checkbox-replacement {
  background-color: #fff;
  border: 1px solid #999;
  font-size: 10px;
  line-height: 10px;
  padding: 3px;
  border-radius: 2px;
  float: left;
  margin-right: 5px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 10px;
  line-height: 10px;
  padding: 3px;
  border-radius: 2px;
  float: left;
  margin-right: 5px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.radio.custom-radio span {
  border-radius: 50%;
  line-height: 9px;
}
.checkbox.custom-checkbox input:checked+span {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox.custom-checkbox input[disabled]+span,
fieldset[disabled] .checkbox.custom-checkbox input+span {
  border-color: #e8e8e8;
}
.checkbox.custom-checkbox input[disabled]:checked+span,
fieldset[disabled] .checkbox.custom-checkbox input:checked+span {
  border-color: #b9ebb9;
  background-color: #b9ebb9;
}
.search-panel {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px 20px 0 20px;
}
.search-panel form {
  text-align: center;
}
.search-panel .form-group {
  margin: 0 5px 20px 5px;
  position: relative;
}
.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #dfdfdf;
  border: 1px solid #dfdfdf;
  font-family: 'open_sansregular';
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 13px;
  padding: 5px 0;
  margin: 2px 0 0;
}
.pac-container:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background: url("https://developers.google.com/maps/documentation/places/images/poweredgoogle-on-white.png") no-repeat center right;
}
.pac-item {
  cursor: pointer;
  padding: 10px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.42857143;
  text-align: left;
  border-top: 0 none;
  font-size: 13px;
  color: #333;
  font-weight: normal;
}
.no-touch .pac-item:hover {
  color: #333;
  text-decoration: none;
  background-color: #f3f3f3;
}
.pac-icon {
  display: none;
}
.pac-item-query {
  color: #333;
}
@media screen and (max-width: 767px) {
  .search-panel form {
    text-align: left;
  }
}
.highlight {
  background-color: #0eaaa6;
  padding: 30px;
  text-align: center;
}
.h-title {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 10px;
}
.h-text {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  padding: 0 30%;
}
.s-menu-item {
  height: 260px;
  overflow: hidden;
  position: relative;
  background: #fff;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  border-radius: 3px;
}
.s-menu-item:last-child {
  margin-right: 0px;
}
.s-menu-item a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #333;
  position: relative;
}
.s-content {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  top: 50%;
}
.s-icon {
  font-size: 60px;
  color: #0eaaa6;
  opacity: 0.8;
  line-height: 150px;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0px;
  top: 0px;
  text-align: center;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
h2.s-main {
  color: #0eaaa6;
  font-size: 30px;
  color: 333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
h3.s-sub {
  text-align: center;
  font-size: 13px;
  color: #999;
  position: absolute;
  bottom: 20px;
  line-height: 16px;
  width: 100%;
  left: 0px;
  opacity: 0.8;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.no-touch .s-menu-item:hover {
  background-color: #0eaaa6;
  z-index: 999;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.no-touch .s-menu-item:hover .s-icon {
  color: #fff;
  font-size: 90px;
  opacity: 0.3;
  -webkit-animation: smallToBig 900ms alternate ease;
          animation: smallToBig 900ms alternate ease;
}
.no-touch .s-menu-item:hover .s-main {
  color: #fff;
  -webkit-animation: smallToBig 300ms ease;
          animation: smallToBig 300ms ease;
}
.no-touch .s-menu-item:hover .s-sub {
  color: #fff;
  -webkit-animation: moveFromBottom 500ms ease;
          animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
.propWidget-2 {
  display: block;
  background-color: #e3e3e3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.13);
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  border-radius: 3px;
}
.propWidget-2 .fig {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.propWidget-2 .fig .property {
  width: 100%;
  position: relative;
  display: block;
}
.propWidget-2 .fig .property.blur {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-filter: blur(2px) !important;
          filter: blur(2px) !important;
  display: none;
}
.propWidget-2 .fig .property .s-icon {
  color: #fff;
  line-height: 200px;
  font-size: 50px;
}
.propWidget-2 .fig .opac {
  display: block;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.propWidget-2 .fig .figType {
  background-color: #eab134;
  font-size: 10px;
  line-height: 11px;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  left: 50%;
  text-transform: uppercase;
  z-index: 3;
  margin-left: -27px;
}
.propWidget-2 .fig .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: normal !important;
  margin: 0;
  padding: 0 20px 0 20px !important;
  position: absolute;
  z-index: 3;
  top: 48%;
  left: 0;
  color: #fff;
  text-align: center;
  width: 100%;
}
.propWidget-2 .fig .address {
  font-size: 11px;
  font-style: italic;
  padding-top: 2px;
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 4;
  color: #fff;
}
.propWidget-2 .fig .priceCap {
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  z-index: 5;
  top: 25%;
  left: 20%;
  right: 20%;
  color: #fff;
  text-align: center;
  width: 60%;
  letter-spacing: -1px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
  padding-bottom: 5px;
}
.propWidget-2 .fig .square {
  position: absolute;
  left: 20%;
  right: 20%;
  text-align: center;
  width: 60%;
  padding: 0;
  z-index: 6;
  bottom: 20px;
  color: #fff;
}
.no-touch .propWidget-2 .fig .property.blur {
  display: block;
  transition: -webkit-transform 0.35s, opacity 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: transform 0.35s, opacity 0.35s;
  transition: transform 0.35s, opacity 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
}
.no-touch .propWidget-2 .fig div.opac {
  display: none;
}
.no-touch .propWidget-2 .fig .figType {
  transition: -webkit-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.no-touch .propWidget-2 .fig .description {
  transition: -webkit-transform 0.35s, opacity 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: transform 0.35s, opacity 0.35s;
  transition: transform 0.35s, opacity 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
  opacity: 0;
  top: 50%;
}
.no-touch .propWidget-2 .fig .address {
  transition: -webkit-transform 0.6s, opacity 0.6s;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
  opacity: 0;
  bottom: 50%;
}
.no-touch .propWidget-2 .fig .priceCap {
  transition: -webkit-transform 0.7s;
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}
.no-touch .propWidget-2 .fig .priceCap span {
  transition: -webkit-transform 0.35s, opacity 0.15s;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.35s;
  transition: opacity 0.15s, -webkit-transform 0.35s;
  transition: transform 0.35s, opacity 0.15s;
  transition: transform 0.35s, opacity 0.15s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  opacity: 0;
}
.no-touch .propWidget-2 .fig .square {
  transition: -webkit-transform 0.35s;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.no-touch .propWidget-2:hover .fig > .property.blur {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}
.no-touch .propWidget-2:hover .fig .figType {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.no-touch .propWidget-2:hover .fig .description {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  opacity: 1;
}
.no-touch .propWidget-2:hover .fig .address {
  -webkit-transform: translate3d(0, 30px, 0);
          transform: translate3d(0, 30px, 0);
  opacity: 1;
}
.no-touch .propWidget-2:hover .fig .priceCap {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.no-touch .propWidget-2:hover .fig .priceCap span {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
  opacity: 1;
}
.no-touch .propWidget-2:hover .fig .square {
  -webkit-transform: scale(1);
          transform: scale(1);
}
ul.rating {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.rating li {
  font-size: 12px;
  line-height: 13px;
  float: left;
  margin: 0 2px;
}
ul.rating li span {
  color: #fff;
  font-size: 14px;
}
ul.rating li span.text-yellow {
  color: #eab134;
}
.btn-o.btn-facebook,
.btn-o.btn-instagram,
.btn-o.btn-linkedin,
.btn-o.btn-pinterest {
  background-color: transparent;
  color: #43609c;
  border-color: #43609c;
}
.btn-o.btn-twitter {
  background-color: transparent;
  color: #55acee;
  border-color: #55acee;
}
.btn-o.btn-google {
  background-color: transparent;
  color: #dd4b39;
  border-color: #dd4b39;
}
.btn-o.btn-phone {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
.no-touch .btn-facebook:hover,
.btn-linkedin:hover,
.btn-pinterest:active,
.btn-pinterest.active,
.btn-pinterest:hover,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-instagram:hover,
.btn-instagram:active,
.btn-instagram.active,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  background-color: #395285;
  color: #fff;
}
.no-touch .btn-o.btn-facebook:hover,
.btn-o.btn-facebook:focus,
.btn-o.btn-facebook:active,
.btn-o.btn-facebook.active,
.open > .dropdown-toggle.btn-o.btn-facebook {
  background-color: #43609c;
  color: #fff;
}
.btn-twitter {
  background-color: #55acee;
  color: #fff;
}
.no-touch .btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  background-color: #4993cc;
  color: #fff;
}
.no-touch .btn-o.btn-twitter:hover,
.btn-o.btn-twitter:focus,
.btn-o.btn-twitter:active,
.btn-o.btn-twitter.active,
.open > .dropdown-toggle.btn-o.btn-twitter {
  background-color: #55acee;
  color: #fff;
}
.btn-google {
  background-color: #dd4b39;
  color: #fff;
}
.no-touch .btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  background-color: #c44433;
  color: #fff;
}
.no-touch .btn-o.btn-google:hover,
.btn-o.btn-google:focus,
.btn-o.btn-google:active,
.btn-o.btn-google.active,
.open > .dropdown-toggle.btn-o.btn-google {
  background-color: #dd4b39;
  color: #fff;
}
.btn-phone {
  background-color: #333;
  color: #fff;
}
.no-touch .btn-phone:hover,
.btn-phone:focus,
.btn-phone:active,
.btn-phone.active,
.open > .dropdown-toggle.btn-phone {
  background-color: #333;
  color: #fff;
}
.no-touch .btn-o.btn-phone:hover,
.btn-o.btn-phone:focus,
.btn-o.btn-phone:active,
.btn-o.btn-phone.active,
.open > .dropdown-toggle.btn-o.btn-phone {
  background-color: #333;
  color: #fff;
}
.agent {
  text-align: center;
  margin-bottom: 20px;
}
.agent-avatar {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.agent-avatar img,
.agent-avatar .avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.agent-avatar .ring {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid #fff;
  opacity: 0.5;
  display: none;
}
.no-touch .agent-avatar .ring {
  display: block;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
.no-touch .agent-avatar:hover .ring {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.agent-name {
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
}
.agent-contact {
  padding-top: 10px;
}
.agent-contact .btn.btn-icon {
  margin: 1px;
}
.home-footer {
  background-color: #333;
  color: #fff;
}
.footer-header {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 20px;
  color: #c6e4e3;
}
.footer-nav {
  margin: 0;
  padding: 0 0 20px 0;
  list-style-type: none;
}
.footer-nav li {
  line-height: 13px;
  padding-bottom: 7px;
}
.footer-nav li a {
  color: #fff;
}
.footer-nav li.footer-phone {
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 15px;
}
.footer-nav li.footer-address {
  padding-bottom: 15px;
}
.footer-nav li.footer-address p {
  line-height: 13px;
  margin: 0 0 5px;
}
.footer-nav .btn.btn-icon {
  margin: 1px;
  color: #fff;
  border-color: #fff;
}
.footer-nav .btn.btn-icon:hover {
  background-color: #fff !important;
  color: #333 !important;
}
.no-touch .footer-nav li a:hover {
  color: #999;
}
.copyright {
  text-align: center;
  color: #999;
  font-size: 12px;
  padding-top: 30px;
}
*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0;
}
.notransition * {
  -webkit-transition: none !important;
  transition: none !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
.btn {
  border-radius: 2px;
  text-decoration: none;
}
.btn-round {
  border-radius: 50px;
}
.btn-o {
  border-width: 1px;
  border-style: solid;
}
.btn-o.btn-green {
  background-color: transparent;
  color: #0eaaa6;
  border-color: #0eaaa6;
}
.btn-o.btn-gray {
  background-color: transparent;
  color: #999;
  border-color: #999;
}
.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}
.btn-gray {
  background-color: #999;
  color: #fff;
}
.no-touch .btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-color: #068b85;
  color: #fff;
}
.no-touch .btn-o.btn-green:hover,
.btn-o.btn-green:focus,
.btn-o.btn-green:active,
.btn-o.btn-green.active,
.open > .dropdown-toggle.btn-o.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}
.no-touch .btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray {
  background-color: #333;
  color: #fff;
}
.no-touch .btn-o.btn-gray:hover,
.btn-o.btn-gray:focus,
.btn-o.btn-gray:active,
.btn-o.btn-gray.active,
.open > .dropdown-toggle.btn-o.btn-gray {
  background-color: #999;
  color: #fff;
}
.btn-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 36px;
  text-align: center;
}
.btn-icon.btn-lg {
  width: 41px;
}
.btn-icon.btn-sm {
  width: 31px;
}
.btn-icon.btn-xs {
  width: 22px;
}
.btn-icon.btn-round {
  border-radius: 50%;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 8px 12px;
  line-height: 13px;
}
.btn > .state,
.btn.active > .state-active {
  display: inline-block;
}
.btn.active > .state,
.btn > .state-active {
  display: none;
}
.no-touch a.text-yellow:hover {
  color: #dfa412;
}
.text-yellow {
  color: #eab134;
}
.dropdown-btn {
  width: 100%;
  text-align: left;
}
a.btn.dropdown-btn.btn-gray {
  background-color: #fff;
  border-color: #dfdfdf;
  color: #333;
}
.no-touch a.dropdown-btn.btn-gray:hover,
.open a.dropdown-btn.btn-gray {
  color: #333;
  border-color: #999;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #333;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}
.pb20 {
  padding-bottom: 20px;
}
#hero-container {
  background-color: #000;
  height: 600px;
  position: relative;
}
#hero-container-map {
  background-color: #fff;
  height: 600px;
  position: relative;
}
body.no-hidden {
  overflow: auto;
}
.home-wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
}
.home-content h2 {
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}
.home-content h2.h-r {
  text-align: right;
}
.pb40 {
  padding-bottom: 40px;
}
@media screen and (max-width: 1199px) {
  .home-wrapper {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  a {
    -webkit-transition: none;
    transition: none;
  }
}
@media screen and (max-width: 767px) {
  #hero-container,
  #hero-container-map {
    height: 592px;
  }
}
.agent-owner {
  text-align: center;
}
.agent-owner img {
  width: 40%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  padding: 3px;
}
.agent-owner .name {
  padding: 2px 0 10px 0;
  font-size: 13px;
}
.agent-owner .contact {
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .agent-owner img {
    width: 20%;
  }
  .agent-owner .contact {
    margin-bottom: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .agent-owner img {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .agent-owner img {
    width: 30%;
  }
}
.summary {
  padding: 20px 20px 0 20px;
}
.summary .summaryItem {
  margin-bottom: 20px;
}
.summary .summaryItem h1.pageTitle {
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 18px;
  line-height: 19px;
  font-weight: normal;
}
.summary .summaryItem .address {
  font-size: 12px;
  line-height: 14px;
  color: #999;
  padding: 0 0 15px 0;
}
.summary .summaryItem ul.features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  float: left;
  width: 100%;
}
.summary .summaryItem ul.features li {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 15px 0;
  border-right: 1px solid #e8e8e8;
}
.summary .summaryItem ul.features li:last-child {
  border-right: 0 none;
}
.summary .summaryItem ul.features li span {
  color: #999;
  display: block;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}
.summary .summaryItem ul.features li div {
  font-size: 13px;
}
.user-view-wrapper {
  overflow: hidden;
  height: 100%;
}
.user-view-wrapper .user-view-map {
  width: 50%;
  float: left;
}
.user-view-wrapper .user-view-content {
  width: 50%;
  float: right;
  background-color: #f3f3f3;
  border-top: 1px solid #e8e8e8;
}
.user-view-wrapper .user-view-content .singleTop {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.user-view-wrapper .user-view-content .description {
  padding: 20px 20px 0 20px;
}
.user-view-wrapper .user-view-content .description p {
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .user-view-wrapper .user-view-content {
    border-top: 1px solid #e8e8e8;
    float: right;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .user-view-wrapper .user-view-content.min,
  .user-view-wrapper .user-view-content #mapView.mob-min {
    width: 0;
  }
  .user-view-wrapper .user-view-content.max,
  .user-view-wrapper .user-view-content.mob-max {
    width: 100%;
  }
  .user-view-wrapper .user-view-content.mob-min {
    width: 0;
  }
  .user-view-wrapper .user-view-map.mob-min {
    display: none;
    width: 0;
  }
}
