.btn-o
    &.btn-facebook, &.btn-instagram, &.btn-linkedin, &.btn-pinterest
        background-color transparent
        color #43609c
        border-color #43609c
    &.btn-twitter
        background-color transparent
        color #55acee
        border-color #55acee
    &.btn-google
        background-color transparent
        color #dd4b39
        border-color #dd4b39
    &.btn-phone
        background-color transparent
        color #333
        border-color #333



.no-touch .btn-facebook:hover,
.btn-linkedin:hover,
.btn-pinterest:active,
.btn-pinterest.active,
.btn-pinterest:hover,
.btn-linkedin:active,
.btn-linkedin.active,
.btn-instagram:hover,
.btn-instagram:active,
.btn-instagram.active,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook
    background-color #395285
    color #fff

.no-touch .btn-o.btn-facebook:hover,
.btn-o.btn-facebook:focus,
.btn-o.btn-facebook:active,
.btn-o.btn-facebook.active,
.open > .dropdown-toggle.btn-o.btn-facebook
    background-color #43609c
    color #fff

.btn-twitter
    background-color #55acee
    color #fff

.no-touch .btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter
    background-color #4993cc
    color #fff

.no-touch .btn-o.btn-twitter:hover,
.btn-o.btn-twitter:focus,
.btn-o.btn-twitter:active,
.btn-o.btn-twitter.active,
.open > .dropdown-toggle.btn-o.btn-twitter
    background-color #55acee
    color #fff

.btn-google
    background-color #dd4b39
    color #fff

.no-touch .btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google
    background-color #c44433
    color #fff

.no-touch .btn-o.btn-google:hover,
.btn-o.btn-google:focus,
.btn-o.btn-google:active,
.btn-o.btn-google.active,
.open > .dropdown-toggle.btn-o.btn-google
    background-color #dd4b39
    color #fff

.btn-phone
    background-color #333
    color #fff

.no-touch .btn-phone:hover,
.btn-phone:focus,
.btn-phone:active,
.btn-phone.active,
.open > .dropdown-toggle.btn-phone
    background-color #333
    color #fff

.no-touch .btn-o.btn-phone:hover,
.btn-o.btn-phone:focus,
.btn-o.btn-phone:active,
.btn-o.btn-phone.active,
.open > .dropdown-toggle.btn-o.btn-phone
    background-color #333
    color #fff