.s-menu-item
    height 260px
    overflow hidden
    position relative
    background #fff
    transition all 300ms linear
    border-radius 3px
    &:last-child
        margin-right 0px
    a
        text-align left
        width 100%
        height 100%
        display block
        color #333
        position relative

.s-content
    position absolute
    left 0px
    width 100%
    height 50%
    top 50%

.s-icon
    font-size 60px
    color #0eaaa6
    opacity 0.8
    line-height 150px
    position absolute
    width 100%
    height 50%
    left 0px
    top 0px
    text-align center
    transition all 400ms linear

h2
    &.s-main
        color #0eaaa6
        font-size 30px
        color 333
        font-size 22px
        line-height 26px
        text-align center
        transition all 200ms linear

h3
    &.s-sub
        text-align center
        font-size 13px
        color #999
        position absolute
        bottom 20px
        line-height 16px
        width 100%
        left 0px
        opacity 0.8
        transition all 200ms linear

.no-touch
    .s-menu-item
        &:hover
            background-color #0eaaa6
            z-index 999
            transform scale(1.1)
            .s-icon
                color #fff
                font-size 90px
                opacity 0.3
                animation smallToBig 900ms alternate ease
            .s-main
                color #fff
                animation smallToBig 300ms ease
            .s-sub
                color #fff
                animation moveFromBottom 500ms ease


@keyframes smallToBig {
    from {
        -webkit-transform: scale(0.1)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%)
    }
    to {
        -webkit-transform: translateY(0%)
    }
}