.agent-owner
  text-align: center;
  img
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    padding: 3px;
  .name
    padding: 2px 0 10px 0;
    font-size: 13px;
  .contact
    margin-bottom: 10px;
    width: 100%;
  @media screen and (max-width: 991px)
    img
     width: 20%;
    .contact
      margin-bottom: 10px;
      width: 100%;
  @media screen and (max-width: 767px)
    img
      width: 20%;
  @media screen and (max-width: 480px)
    img
      width: 30%;
