.summary
  padding: 20px 20px 0 20px
  .summaryItem
    margin-bottom: 20px
    h1.pageTitle {
      margin: 0;
      padding: 0 0 5px 0;
      font-size: 18px;
      line-height: 19px;
      font-weight: normal;
    }
    .address
      font-size: 12px;
      line-height: 14px;
      color: #999;
      padding: 0 0 15px 0;
    ul.features
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 20px;
      border: 1px solid #e8e8e8;
      float: left;
      width: 100%;
      li
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 15px 0;
        border-right: 1px solid #e8e8e8;
        &:last-child
          border-right: 0 none;
        span
          color: #999;
          display: block;
          height: 24px;
          font-size: 24px;
          line-height: 24px;
        div
          font-size: 13px;