.agent
    text-align center
    margin-bottom 20px

.agent-avatar
    display inline-block
    overflow hidden
    position relative
    border-radius 50%
    img, .avatar
        width 150px
        height 150px
        border-radius 50%
    .ring
        width 150px
        height 150px
        border-radius 50%
        position absolute
        top 0
        left 0
        border 10px solid #fff
        opacity 0.50
        display none

.no-touch
    .agent-avatar
        .ring
            display block
            -webkit-transition -webkit-transform 0.35s
            transition transform 0.35s
            -webkit-transform scale(1.25)
            transform scale(1.25)
        &:hover
            .ring
                -webkit-transform scale(1)
                transform scale(1)

.agent-name
    font-size 16px
    line-height 16px
    padding 10px 0

.agent-contact
    padding-top 10px
    .btn
        &.btn-icon
            margin 1px