.dropdown.btn-group
    .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover, .dropdown-toggle.btn-default:focus
        background-color #fff
        border-color #fff
        box-shadow none