.editForm {
	padding: 20px;
}

.editForm h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 20px;
}


.file-input {
    border: 1px solid #dfdfdf;
    padding: 10px;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
}

.btn-o {
    border-width: 1px;
    border-style: solid;
}
.btn {
    border-radius: 2px;
    text-decoration: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 10px 14px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.btn-o.btn-default {
    background-color: transparent;
    color: #333;
    border-color: #ccc;
}

.btn-o.btn-default:hover,
.btn-o.btn-default:focus,
.btn-o.btn-default:active,
.btn-o.btn-default.active,
.open > .dropdown-toggle.btn-o.btn-default {
    color: #fff;
    background-color: #adadad;
    border-color: #adadad;
}

.checkbox.custom-checkbox label,
.radio.custom-radio label,
.checkbox.switch label {
    padding-left: 0;
}

.checkbox.custom-checkbox span.fa, .radio.custom-radio span.fa {
    background-color: #fff;
    border: 1px solid #999;
    font-size: 10px;
    line-height: 10px;
    padding: 3px;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-check:before {
    content: "\f00c";
}

.checkbox.custom-checkbox label,
.radio.custom-radio label,
.checkbox.switch label {
    padding-left: 0;
}
.radio label, .checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-green {
    background-color: #0eaaa6;
    color: #fff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
    background-color: #068b85;
    color: #fff;
}

.file-input .file-preview {
    border: none;
    padding: 0;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
}
.file-preview-frame {
    display: table;
    margin: 0 10px 10px 0;
    height: 150px;
    border: 0 none;
    box-shadow: none;
    padding: 0;
    float: left;
    text-align: center;
}
.file-preview-image {
    height: 150px;
    vertical-align: text-center;
}

.dropdown-select {
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dropdown-select input {
    position: absolute;
    left: -9999em;
}

dropdown-select > li > a {
    padding: 7px 20px;
    display: block;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}