.checkbox.custom-checkbox input[type="checkbox"]
    position absolute
    left -9999em
    position absolute
    left -9999em

.checkbox.custom-checkbox label
    padding-left 0
    padding-left 0

.checkbox.custom-checkbox .checkbox-replacement
    background-color #fff
    border 1px solid #999
    font-size 10px
    line-height 10px
    padding 3px
    border-radius 2px
    float left
    margin-right 5px
    color #fff
    -webkit-transition all .2s ease-in-out
    -o-transition all .2s ease-in-out
    transition all .2s ease-in-out
    background-color #fff
    border 1px solid #999
    font-size 10px
    line-height 10px
    padding 3px
    border-radius 2px
    float left
    margin-right 5px
    color #fff
    -webkit-transition all .2s ease-in-out
    -o-transition all .2s ease-in-out
    transition all .2s ease-in-out

.radio
    &.custom-radio
        span
            border-radius 50%
            line-height 9px

.checkbox.custom-checkbox input:checked+span
    background-color #5cb85c
    border-color #5cb85c

.checkbox.custom-checkbox input[disabled]+span,
fieldset[disabled] .checkbox.custom-checkbox input+span
    border-color #e8e8e8

.checkbox.custom-checkbox input[disabled]:checked+span,
fieldset[disabled] .checkbox.custom-checkbox input:checked+span
    border-color #b9ebb9
    background-color #b9ebb9