ul
    &.rating
        display inline-block
        list-style-type none
        padding 0
        margin 0

        li
            font-size 12px
            line-height 13px
            float left
            margin 0 2px

            span
                color #fff
                font-size 14px
                &.text-yellow
                    color #eab134