*:focus
    outline none

*::-moz-focus-inner
    border 0

.notransition
    *
        transition none !important

.align-left
    text-align left !important

.align-right
    text-align right !important

.align-center
    text-align center !important

.btn
    border-radius 2px
    text-decoration none

.btn-round
    border-radius 50px

.btn-o
    border-width 1px
    border-style solid
    &.btn-green
        background-color transparent
        color #0eaaa6
        border-color #0eaaa6
    &.btn-gray
        background-color transparent
        color #999
        border-color #999

.btn-green
    background-color #0eaaa6
    color #fff

.btn-gray
    background-color #999
    color #fff

.no-touch .btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green
    background-color #068b85
    color #fff

.no-touch .btn-o.btn-green:hover,
.btn-o.btn-green:focus,
.btn-o.btn-green:active,
.btn-o.btn-green.active,
.open > .dropdown-toggle.btn-o.btn-green
    background-color #0eaaa6
    color #fff

.no-touch .btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open > .dropdown-toggle.btn-gray
    background-color #333
    color #fff

.no-touch .btn-o.btn-gray:hover,
.btn-o.btn-gray:focus,
.btn-o.btn-gray:active,
.btn-o.btn-gray.active,
.open > .dropdown-toggle.btn-o.btn-gray
    background-color #999
    color #fff

.btn-icon
    padding-left 0 !important
    padding-right 0 !important
    width 36px
    text-align center
    &.btn-lg
        width 41px
    &.btn-sm
        width 31px
    &.btn-xs
        width 22px
    &.btn-round
        border-radius 50%

.btn-sm,
.btn-group-sm > .btn
    padding 8px 12px
    line-height 13px

.btn > .state, .btn.active > .state-active
    display inline-block

.btn.active > .state, .btn > .state-active
    display none

.no-touch
    a
        &.text-yellow
            &:hover
                color #dfa412

.text-yellow
    color #eab134

.dropdown-btn
    width 100%
    text-align left

a
    &.btn
        &.dropdown-btn
            &.btn-gray
                background-color #fff
                border-color #dfdfdf
                color #333

.no-touch a.dropdown-btn.btn-gray:hover, .open a.dropdown-btn.btn-gray
    color #333
    border-color #999

.input-group-addon
    padding 6px 12px
    font-size 13px
    font-weight normal
    line-height 1
    color #333
    text-align center
    background-color #f7f7f7
    border 1px solid #dfdfdf
    border-radius 2px

.pb20
    padding-bottom 20px

#hero-container
    background-color #000
    height 600px
    position relative

#hero-container-map
    background-color #fff
    height 600px
    position relative

body
    &.no-hidden
        overflow auto

.home-wrapper
    width 1140px
    margin 0 auto
    padding 40px 20px

.home-content
    h2
        margin 0
        padding 0 0 30px 0
        font-size 22px
        line-height 22px
        text-align center
        &.h-r
            text-align right

.pb40
    padding-bottom 40px

@media screen and (max-width: 1199px)
    .home-wrapper
        width 100%
        margin 0

@media screen and (max-width: 767px)
    a
        transition none

@media screen and (max-width: 767px)
    #hero-container, #hero-container-map
        height 592px