.user-view-wrapper
  overflow: hidden;
  height 100%
  .user-view-map
    width 50%
    float left
  .user-view-content
    width 50%
    float right
    background-color #f3f3f3
    border-top 1px solid #e8e8e8
    .singleTop
      background-color: #fff;
      border-bottom: 1px solid #e8e8e8;
    .description
      padding: 20px 20px 0 20px;
      p
        font-size: 13px;
  @media screen and (max-width 767px)
    .user-view-content
      border-top 1px solid #e8e8e8
      float right
      -webkit-overflow-scrolling touch
      -webkit-transition all .2s ease-in-out
      -o-transition all .2s ease-in-out
      transition all .2s ease-in-out
      &.min, #mapView.mob-min
        width 0
      &.max, &.mob-max
        width 100%
      &.mob-min
        width 0
    .user-view-map
        &.mob-min
          display: none;
          width: 0