html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title Login
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/bundles/admin/css/main.css', rel='stylesheet')
    body.notransition.no-hidden
        div(id='app-container')
        script(src='/assets/bundles/admin/js/app.js' type='text/javascript')