.propWidget-2
    display block
    background-color #E3E3E3
    box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.13)
    margin-bottom 20px
    cursor pointer
    text-decoration none
    overflow hidden
    border-radius 3px
    .fig
        width 100%
        overflow hidden
        position relative
        .property
            width 100%
            position relative
            display block
            &.blur
                position absolute
                width 100%
                top 0
                left 0
                bottom 0
                right 0
                z-index 1
                filter blur(2px) !important
                display none
            .s-icon
                color #fff
                line-height 200px
                font-size 50px
        .opac
            display block
            background-color rgba(0,0,0,0.30)
            position absolute
            width 100%
            top 0
            left 0
            bottom 0
            right 0
            z-index 1
        .figType
            background-color #eab134
            font-size 10px
            line-height 11px
            color #fff
            padding 2px 4px
            border-radius 2px
            position absolute
            top 15px
            left 50%
            text-transform uppercase
            z-index 3
            margin-left -27px
        .description
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            font-size 18px !important
            line-height 20px !important
            font-weight normal !important
            margin 0
            padding 0 20px 0 20px !important
            position absolute
            z-index 3
            top 48%
            left 0
            color #fff
            text-align center
            width 100%
        .address
            font-size 11px
            font-style italic
            padding-top 2px
            position absolute
            bottom 30%
            left 0
            width 100%
            text-align center
            z-index 4
            color #fff
        .priceCap
            font-size 30px
            line-height 30px
            position absolute
            z-index 5
            top 25%
            left 20%
            right 20%
            color #fff
            text-align center
            width 60%
            letter-spacing -1px
            border-bottom 1px solid rgba(255,255,255,0.5)
            overflow hidden
            padding-bottom 5px
        .square
            position absolute
            left 20%
            right 20%
            text-align center
            width 60%
            padding 0
            z-index 6
            bottom 20px
            color #fff

.no-touch
    .propWidget-2
        .fig
            .property
                &.blur
                    display block
                    transition -webkit-transform 0.35s, opacity 0.35s
                    transition transform 0.35s, opacity 0.35s
                    transform scale(1)
                    opacity 0
            div
                &.opac
                    display none
            .figType
                transition -webkit-transform 0.35s
                transition transform 0.35s
                transform scale(0)
            .description
                transition -webkit-transform 0.35s, opacity 0.35s
                transition transform 0.35s, opacity 0.35s
                transform translate3d(0,20px,0)
                opacity 0
                top 50%
            .address
                transition -webkit-transform 0.60s, opacity 0.60s
                transition transform 0.60s, opacity 0.60s
                transform translate3d(0,-30px,0)
                opacity 0
                bottom 50%
            .priceCap
                transition -webkit-transform 0.70s
                transition transform 0.70s
                transform scale(0, 1)
                span
                    transition -webkit-transform 0.35s, opacity 0.15s
                    transition transform 0.35s, opacity 0.15s
                    transform translate3d(0,50px,0)
                    opacity 0
            .square
                transition -webkit-transform 0.35s
                transition transform 0.35s
                transform scale(0)

        &:hover
            .fig
                & > .property
                    &.blur
                        transform scale(1.2)
                        opacity 1
                .figType
                    transform scale(1)
                .description
                    transform translate3d(0,-10px,0)
                    opacity 1
                .address
                    transform translate3d(0,30px,0)
                    opacity 1
                .priceCap
                    transform scale(1, 1)
                    span
                        transform translate3d(0,0,0)
                        transition-delay 0.35s
                        opacity 1
                .square
                    transform scale(1)