.search-panel
    background-color rgba(0, 0, 0, 0.50)
    position absolute
    left 0
    bottom 0
    width 100%
    color #fff
    padding 20px 20px 0 20px
    form
        text-align center
    .form-group
        margin 0 5px 20px 5px
        position relative

// Google maps autocomplete
    .pac-container
        background-color #fff
        position absolute !important
        z-index 1000
        border-radius 2px
        border-top 1px solid #dfdfdf
        border 1px solid #dfdfdf
        font-family 'open_sansregular'
        box-shadow 0 2px 6px rgba(0, 0, 0, .1)
        box-sizing border-box
        overflow hidden
        font-size 13px
        padding 5px 0
        margin 2px 0 0
        &:after
            content ""
            padding 1px 1px 1px 0
            height 16px
            text-align right
            display block
            background url(https://developers.google.com/maps/documentation/places/images/poweredgoogle-on-white.png) no-repeat center right

    .pac-item
        cursor pointer
        padding 10px 15px
        text-overflow ellipsis
        overflow hidden
        white-space nowrap
        line-height 1.42857143
        text-align left
        border-top 0 none
        font-size 13px
        color #333
        font-weight normal

    .no-touch
        .pac-item
            &:hover
                color #333
                text-decoration none
                background-color #f3f3f3

    .pac-icon
        display none

    .pac-item-query
        color #333

@media screen and (max-width: 767px)
    .search-panel
        form
            text-align left