.crop {
	position: relative;
	cursor: pointer;
	&__preloader {
		font-size: 60px;
	    color: #fff;
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    display: none;
	}
	&__do-it {
		margin-top: 10px;
	}
	&__result {
		border: solid 2px green;
		float: left;
		display: none;
		&_state_active {
			display: block;
		}
	}
	&__region {
		border: solid 1px #999;
	}
}
.nocrop {
	margin: 20px 0;
}

.crop-select-block {
	position: absolute;
	background: gray;
}