html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title Find NY Office
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.4/css/simple-line-icons.css')
    link(href='/assets/bundles/user/css/main.css', rel='stylesheet')
    body.notransition.no-hidden
        block content
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/react-router/1.0.0/ReactRouter.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/history/1.12.6/History.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js', type='text/javascript')
        script(src='/assets/bundles/user/js/app.js' type='text/javascript')