.home-footer
    background-color #333
    color #fff

.footer-header
    font-size 16px
    line-height 16px
    padding-bottom 20px
    color #c6e4e3

.footer-nav
    margin 0
    padding 0 0 20px 0
    list-style-type none
    li
        line-height 13px
        padding-bottom 7px
        a
            color #fff
        &.footer-phone
            font-size 20px
            line-height 20px
            padding-bottom 15px
        &.footer-address
            padding-bottom 15px
            p
                line-height 13px
                margin 0 0 5px
    .btn
        &.btn-icon
            margin 1px
            color #fff
            border-color #fff
            &:hover
                background-color #fff!important
                color #333!important

.no-touch
    .footer-nav
        li
            a
                &:hover
                    color #999

.copyright
    text-align center
    color #999
    font-size 12px
    padding-top 30px