body {
	background-color: #eee;
}
body.noscroll {
	overflow: hidden;
}

.edit-wrapper {
	overflow: hidden;
	&__map {
		width: 50%;
		float: left;
	    position: relative;
	    overflow: hidden;
	    transform: translateZ(0px);
	    background-color: rgb(229, 227, 223);
	    min-height: 100%;
	}
	#admin-map {
		height: 100%;
		width: 100%;
	}
	&__form {
		height: 100
	    overflow: scroll
	    background-color: #f3f3f3;
	    width: 50%;
	    border-top: 1px solid #e8e8e8;
	    float: right;
	    min-height: 100%;
	}
}
