.admin-listings-table
  background #eee
  padding 30px
  thead
    background: #373a3c
    color: #fff
    tr
      font-size: 18px
  tbody
    background: #fff
  .column-remove
  .column-disable
      text-align center
