#home-map
    width 100%
    height 600px

a[href^="http://maps.google.com/maps"]
    display none !important
a[href^="https://maps.google.com/maps"]
    display:none !important

.gmnoprint a, .gmnoprint span, .gm-style-cc
    display none

.gmnoprint
    div
        background none !important

@media screen and (max-width: 767px)
    #home-map
        height 592px

#mapView
    width 50%;
    float left;

#mapView.min 
    width 0%;

.mapPlaceholder 
    text-align center;
    width 100%;
    padding-top 100px;
    float left;
    overflow: hidden;

#mapView.min .mapPlaceholder 
    display none;
