.infoW
    font-family 'open_sansregular', sans-serif, Arial
    color #333
    padding 0 1px

.paWrapper
    padding 10px 10px 7px 10px

.propImg
    position relative
    img, .placeholder
        width 200px
        height 120px
        borderleft-radius 3px
        borderright-radius 3px
    .placeholder
        .s-icon
            font-size 40px
            line-height 90px
            color #848484

.propBg
    position absolute
    z-index 2
    height 40px
    left 0
    bottom 0
    width 100%
    background linear-gradient(to top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
    background gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)))
    background linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%)
    background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%)

.propType, .propSale
    background-color #eab134
    font-size 10px
    line-height 11px
    color #fff
    padding 2px 4px
    border-radius 2px
    position absolute
    right 10px
    bottom 10px
    text-transform uppercase
    z-index 3

.propSale
    background-color #55acee
    right 60px

.propPrice
    position absolute
    left 10px
    bottom 10px
    color #fff
    font-size 12px
    line-height 12px
    z-index 3

.propTitle
    font-weight bold
    font-size 14px
    line-height 16px
    white-space nowrap
    overflow hidden

.propDescription
    white-space nowrap
    overflow hidden
    color #999
    font-size 11px
    line-height 11px

ul
    &.propFeat
        list-style-type none
        margin 0
        padding 0 10px 0 10px
        li
            float left
            margin-right 15px
            font-size 11px
            line-height 11px
            span
                color #999

.infoButtons
    padding 10px

a.btn.viewInfo, a.btn.closeInfo
    width 85px
    padding 6px 12px

a
    &.btn
        &.viewInfo
            margin-left 10px