body {
  background-color: #eee;
}
body.noscroll {
  overflow: hidden;
}
.edit-wrapper {
  overflow: hidden;
}
.edit-wrapper__map {
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  background-color: #e5e3df;
  min-height: 100%;
}
.edit-wrapper #admin-map {
  height: 100%;
  width: 100%;
}
.edit-wrapper__form {
  height: 100;
  overflow: scroll;
  background-color: #f3f3f3;
  width: 50%;
  border-top: 1px solid #e8e8e8;
  float: right;
  min-height: 100%;
}
.admin-listings-table {
  background: #eee;
  padding: 30px;
}
.admin-listings-table thead {
  background: #373a3c;
  color: #fff;
}
.admin-listings-table thead tr {
  font-size: 18px;
}
.admin-listings-table tbody {
  background: #fff;
}
.admin-listings-table .column-remove,
.admin-listings-table .column-disable {
  text-align: center;
}
#home-map {
  width: 100%;
  height: 600px;
}
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
@media screen and (max-width: 767px) {
  #home-map {
    height: 592px;
  }
}
#mapView {
  width: 50%;
  float: left;
}
#mapView.min {
  width: 0%;
}
.mapPlaceholder {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  float: left;
  overflow: hidden;
}
#mapView.min .mapPlaceholder {
  display: none;
}
.infoW {
  font-family: 'open_sansregular', sans-serif, Arial;
  color: #333;
  padding: 0 1px;
}
.paWrapper {
  padding: 10px 10px 7px 10px;
}
.propImg {
  position: relative;
}
.propImg img,
.propImg .placeholder {
  width: 200px;
  height: 120px;
  borderleft-radius: 3px;
  borderright-radius: 3px;
}
.propImg .placeholder .s-icon {
  font-size: 40px;
  line-height: 90px;
  color: #848484;
}
.propBg {
  position: absolute;
  z-index: 2;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}
.propType,
.propSale {
  background-color: #eab134;
  font-size: 10px;
  line-height: 11px;
  color: #fff;
  padding: 2px 4px;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: uppercase;
  z-index: 3;
}
.propSale {
  background-color: #55acee;
  right: 60px;
}
.propPrice {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  z-index: 3;
}
.propTitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.propDescription {
  white-space: nowrap;
  overflow: hidden;
  color: #999;
  font-size: 11px;
  line-height: 11px;
}
ul.propFeat {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 10px;
}
ul.propFeat li {
  float: left;
  margin-right: 15px;
  font-size: 11px;
  line-height: 11px;
}
ul.propFeat li span {
  color: #999;
}
.infoButtons {
  padding: 10px;
}
a.btn.viewInfo,
a.btn.closeInfo {
  width: 85px;
  padding: 6px 12px;
}
a.btn.viewInfo {
  margin-left: 10px;
}
.editForm {
  padding: 20px;
}
.editForm h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 20px;
}
.file-input {
  border: 1px solid #dfdfdf;
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}
.btn-o {
  border-width: 1px;
  border-style: solid;
}
.btn {
  border-radius: 2px;
  text-decoration: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn {
  display: inline-block;
  padding: 10px 14px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  background: #f00;
  cursor: inherit;
  display: block;
}
.btn-o.btn-default {
  background-color: transparent;
  color: #333;
  border-color: #ccc;
}
.btn-o.btn-default:hover,
.btn-o.btn-default:focus,
.btn-o.btn-default:active,
.btn-o.btn-default.active,
.open > .dropdown-toggle.btn-o.btn-default {
  color: #fff;
  background-color: #adadad;
  border-color: #adadad;
}
.checkbox.custom-checkbox label,
.radio.custom-radio label,
.checkbox.switch label {
  padding-left: 0;
}
.checkbox.custom-checkbox span.fa,
.radio.custom-radio span.fa {
  background-color: #fff;
  border: 1px solid #999;
  font-size: 10px;
  line-height: 10px;
  padding: 3px;
  border-radius: 2px;
  float: left;
  margin-right: 5px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-check:before {
  content: "\f00c";
}
.checkbox.custom-checkbox label,
.radio.custom-radio label,
.checkbox.switch label {
  padding-left: 0;
}
.radio label,
.checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.btn-green {
  background-color: #0eaaa6;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-color: #068b85;
  color: #fff;
}
.file-input .file-preview {
  border: none;
  padding: 0;
}
.file-preview {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}
.file-preview-frame {
  display: table;
  margin: 0 10px 10px 0;
  height: 150px;
  border: 0 none;
  box-shadow: none;
  padding: 0;
  float: left;
  text-align: center;
}
.file-preview-image {
  height: 150px;
  vertical-align: text-center;
}
.dropdown-select {
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dropdown-select input {
  position: absolute;
  left: -9999em;
}
dropdown-select > li > a {
  padding: 7px 20px;
  display: block;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ReactCrop {
  position: relative;
  display: inline-block;
  cursor: crosshair;
  overflow: hidden;
  max-width: 100%;
}
.ReactCrop.ReactCrop--disabled {
  cursor: inherit;
}
.ReactCrop:focus {
  outline: none;
}
.ReactCrop--image {
  display: block;
  max-width: 100%;
}
.ReactCrop--image-copy {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.ReactCrop--crop-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
}
.ReactCrop--crop-selection {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  cursor: move;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), -webkit-linear-gradient(left, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), -webkit-linear-gradient(top, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), -webkit-linear-gradient(top, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%);
  background-image: linear-gradient(to right, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), linear-gradient(to right, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), linear-gradient(to bottom, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%), linear-gradient(to bottom, rgba(255,255,255,0.7) 50%, rgba(0,0,0,0.7) 50%);
  padding: 1px;
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  -webkit-animation: marching-ants 2s;
          animation: marching-ants 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.ReactCrop--disabled .ReactCrop--crop-selection {
  cursor: inherit;
}
.ReactCrop-ellipse .ReactCrop--crop-selection {
  background-image: none;
  border: 1px dashed rgba(255,255,255,0.7);
  border-radius: 100%;
}
.ReactCrop--drag-handle {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.7);
  box-sizing: border-box;
  outline: 1px solid transparent;
}
.ReactCrop .ord-nw {
  top: 0;
  left: 0;
  margin-top: -4px;
  margin-left: -4px;
  cursor: nw-resize;
}
.ReactCrop .ord-n {
  top: 0;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  cursor: n-resize;
}
.ReactCrop .ord-ne {
  top: 0;
  right: 0;
  margin-top: -4px;
  margin-right: -4px;
  cursor: ne-resize;
}
.ReactCrop .ord-e {
  top: 50%;
  right: 0;
  margin-top: -4px;
  margin-right: -4px;
  cursor: e-resize;
}
.ReactCrop .ord-se {
  bottom: 0;
  right: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  cursor: se-resize;
}
.ReactCrop .ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
  cursor: s-resize;
}
.ReactCrop .ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
  cursor: sw-resize;
}
.ReactCrop .ord-w {
  top: 50%;
  left: 0;
  margin-top: -4px;
  margin-left: -4px;
  cursor: w-resize;
}
.ReactCrop--disabled .ReactCrop--drag-handle {
  cursor: inherit;
}
.ReactCrop--drag-bar {
  position: absolute;
}
.ReactCrop--drag-bar.ord-n {
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  margin-top: -4px;
}
.ReactCrop--drag-bar.ord-e {
  right: 0;
  top: 0;
  width: 6px;
  height: 100%;
  margin-right: -4px;
}
.ReactCrop--drag-bar.ord-s {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  margin-bottom: -4px;
}
.ReactCrop--drag-bar.ord-w {
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-left: -4px;
}
.ReactCrop-ellipse .ReactCrop--drag-bar,
.ReactCrop-new-crop .ReactCrop--drag-bar,
.ReactCrop-new-crop .ReactCrop--drag-handle,
.ReactCrop-fixed-aspect .ReactCrop--drag-bar {
  display: none;
}
@media (max-width: 768px) {
  .ReactCrop--drag-handle {
    width: 17px;
    height: 17px;
  }
  .ReactCrop .ord-nw {
    margin-top: -8px;
    margin-left: -8px;
  }
  .ReactCrop .ord-n {
    margin-top: -8px;
    margin-left: -8px;
  }
  .ReactCrop .ord-ne {
    margin-top: -8px;
    margin-right: -8px;
  }
  .ReactCrop .ord-e {
    margin-top: -8px;
    margin-right: -8px;
  }
  .ReactCrop .ord-se {
    margin-bottom: -8px;
    margin-right: -8px;
  }
  .ReactCrop .ord-s {
    margin-bottom: -8px;
    margin-left: -8px;
  }
  .ReactCrop .ord-sw {
    margin-bottom: -8px;
    margin-left: -8px;
  }
  .ReactCrop .ord-w {
    margin-top: -8px;
    margin-left: -8px;
  }
  .ReactCrop--drag-bar.ord-n {
    height: 14px;
    margin-top: -12px;
  }
  .ReactCrop--drag-bar.ord-e {
    width: 14px;
    margin-right: -12px;
  }
  .ReactCrop--drag-bar.ord-s {
    height: 14px;
    margin-bottom: -12px;
  }
  .ReactCrop--drag-bar.ord-w {
    width: 14px;
    margin-left: -12px;
  }
}
@-webkit-keyframes marching-ants {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
@keyframes marching-ants {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
  100% {
    background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
  }
}
.admin-image-galery .image-row {
  border: 0.5px solid #d3d3d3;
  border-radius: 5px;
  padding: 5px 0 5px 0;
  padding-bottom: 20px;
}
.admin-image-galery .image-row .image {
  padding: 5px 5px 5px 5px;
}
.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
